# fly.toml app configuration file generated for bot-trader-api on 2025-11-04T23:35:17-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bot-trader-api'
primary_region = 'iad'

[build]

[env]
  PORT = '8000'

[processes]
  app = "python start_server.py"
  streamer = "python -m order_flow.streamer"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  

[[services]]
  protocol = 'tcp'
  internal_port = 8000
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
